In [1]:
# @hidden_cell

from project_lib import Project
project = Project.access()

ExternalNFS_metadata = project.get_connection(name="ExternalNFS")

import os, pandas as pd

ExternalNFS_path = os.path.join('/mnts/shared', 'test/test.csv')

# pandas offers various methods to load data into a DataFrame.
# For non-csv files, choose an appropriate method according to the pandas documentation.
# See https://pandas.pydata.org/docs/user_guide/io.html
data_df_1 = pd.read_csv(ExternalNFS_path)
data_df_1.head(10)

        date  registrations
0  1/17/2011           1408
1  1/24/2011           1709
2  1/31/2011           1860
3   2/7/2011           2039
4  2/14/2011           2165
5  2/21/2011           2292
6  2/28/2011           2440
7   3/7/2011           2523
8  3/14/2011           2617
9  3/21/2011           2697

In [3]:
!ls -lrt /mnts

total 0
drwxrwxrwx. 3 root root 36 Jan  1 14:46 shared
drwxr-xr-x. 3 root root 20 Jan  2 10:53 2nd

In [1]:

import pandas as pd

df_data_1 = pd.read_csv('/project_data/data_asset/total_reg_members.csv')
df_data_1.head()

        date  registrations
0  1/17/2011           1408
1  1/24/2011           1709
2  1/31/2011           1860
3   2/7/2011           2039
4  2/14/2011           2165

In [5]:
!df -h

Filesystem                                                                                                            Size  Used Avail Use% Mounted on
overlay                                                                                                               200G   71G  129G  36% /
tmpfs                                                                                                                  64M     0   64M   0% /dev
tmpfs                                                                                                                  63G     0   63G   0% /sys/fs/cgroup
shm                                                                                                                    64M     0   64M   0% /dev/shm
tmpfs                                                                                                                  63G  7.7M   63G   1% /etc/hostname
tmpfs                                                                                                                  63G  4.0K   63G   1% /etc/certificate
172.16.251.201:/cp4d/shared                                                                                          1007G   13G  995G   2% /mnts/shared
/dev/mapper/coreos-luks-root-nocrypt                                                                                  200G   71G  129G  36% /etc/hosts
10.0.15.201:/var/lib/osd/pxns/708630967537855835/projects/b6ff68f5-3303-422a-a765-51f14f3b0dcd/jupyterlab/1000330999   30G   60M   28G   1% /home/wsuser
10.0.15.201:/var/lib/osd/pxns/708630967537855835/projects/b6ff68f5-3303-422a-a765-51f14f3b0dcd/assets/data_asset       30G   60M   28G   1% /project_data/data_asset
10.0.15.207:/var/lib/osd/pxns/957939638764077442/_global_/dbdrivers                                                   9.8G  244M  9.0G   3% /user-home/_global_/dbdrivers
10.0.15.207:/var/lib/osd/pxns/957939638764077442/_global_/python-3.7                                                  9.8G  244M  9.0G   3% /user-home/_global_/python-3.7
10.0.15.207:/var/lib/osd/pxns/957939638764077442/_global_/python-3                                                    9.8G  244M  9.0G   3% /user-home/_global_/python-3
10.0.15.10:/cp4d/shared                                                                                              1015G  1.7G 1013G   1% /mnts/2nd/shared
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/python-3                                                      50G  220M   47G   1% /cc-home/_global_/python-3
tmpfs                                                                                                                  63G   16K   63G   1% /etc/wsl/ssl-keys
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/config/.notebookscripts/1436                                  50G  220M   47G   1% /var/ibm/.ws
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/.remote-images                                                50G  220M   47G   1% /cc-home/_global_/.remote-images
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/config/git                                                    50G  220M   47G   1% /cc-home/_global_/config/git
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/config/conda                                                  50G  220M   47G   1% /cc-home/_global_/config/conda
10.0.15.207:/var/lib/osd/pxns/957939638764077442/_global_/config/conda                                                9.8G  244M  9.0G   3% /user-home/_global_/config/conda
10.0.15.207:/var/lib/osd/pxns/957939638764077442/_global_/security/customer-truststores                               9.8G  244M  9.0G   3% /user-home/_global_/security/customer-truststores
10.0.15.206:/var/lib/osd/pxns/53493830792345661/_global_/security/customer-truststores                                 50G  220M   47G   1% /cc-home/_global_/security/customer-truststores
tmpfs                                                                                                                  63G     0   63G   0% /proc/acpi
tmpfs                                                                                                                  63G     0   63G   0% /proc/scsi
tmpfs                                                                                                                  63G     0   63G   0% /sys/firmware

In [6]:
# @hidden_cell

from project_lib import Project
project = Project.access()

InternalNFS_metadata = project.get_connection(name="InternalNFS")

import os, pandas as pd

InternalNFS_path = os.path.join('/mnts/2nd/shared', 'weather.csv')

# pandas offers various methods to load data into a DataFrame.
# For non-csv files, choose an appropriate method according to the pandas documentation.
# See https://pandas.pydata.org/docs/user_guide/io.html
data_df_2 = pd.read_csv(InternalNFS_path)
data_df_2.head(10)

   day  max.temp  min.temp   rain  wind
0    1      23.8      16.3    0.0  39.0
1    2      22.9      17.0    0.0  33.0
2    3      26.5      17.8    1.2   NaN
3    4      28.3      20.5    3.2  33.0
4    5      25.0      21.4   28.6   NaN
5    6      29.0      19.1    0.4   NaN
6    7      27.8      20.6   26.6  41.0
7    8      29.1      19.6  126.0  59.0
8    9      25.4      19.9    0.6   NaN
9   10      30.5      19.5    0.6   NaN